.margin-cust-left1 {
    margin-left: -10px;
}

.text-size1 {
    font-size: 30px;
}

.text-color1 {
    color:red; 
}

.text-size2 {
    font-size: 18px;
}

.margin-cust-top1 {
    margin-top: 120px;
}

.letter-spacing1 {
    letter-spacing: 5px;
}

.text-size3 {
    font-size: 50px;

}
