.margin-cust-left1 {
    margin-left: -10px;
}


.margin-cust-left2 {
    margin-left: 50px;
}

@media (max-width: 768px) {
    .margin-cust-left2 {
        margin-top: 0;
        margin-left: -50px;
        margin-bottom: 1rem;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .left {
        width: 25%;
        margin: 0;
    }

    
}

@media (min-width: 992px) {
    .left {
        margin: 0;
    }

    
}


.text-size1 {
    font-size: 30px;
}

.text-color1 {
    color:red; 
}

.text-size2 {
    font-size: 18px;
}

.text-size4 {
    font-size: 15px;
}


.margin-cust-top1 {
    margin-top: 120px;
}

.margin-cust-top2 {
    margin-top: 50px;
}

.letter-spacing1 {
    letter-spacing: 5px;
}

.text-size3 {
    font-size: 50px;

}

.background-card {
    background-color: #FFFCFD;
}

.nav-bg {
    background-color: #f9663f;
}

.custom-text-decoration {
    text-decoration: none;
  }

  .shadow-cust {
    width: 100px;
    height: 100px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  }
 
    